@font-face {
    font-family: NotoSansCJK_Regular;
    src: url('/font/NotoSansCJKkr-Regular.otf');
}
@font-face {
    font-family: NotoSansCJK_Medium;
    src: url('/font/NotoSansCJKkr-Medium.otf');
}

html {
    overflow-y: auto!important;
}